.map {
    height: 420px;
    background-color: #ecf3f8;
    padding: 50px 0 50px;
    iframe {
        width: 460px; 
        height: 320px;
        border-radius: 5%;       
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 320px;
    }
    &__block{
        margin-right: 95px;
        margin-top: 30px;
        width: 270px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        p {
            color: #535353;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            margin-bottom: 0;
        }
        h2 {
            margin-top: 19px;
            color: #68b0c9;
            font-size: 19px;
            font-weight: 700;
            line-height: 22px;
            text-align: center;
            margin-bottom: 45px;
        }
        img {
            width: 24px;
            height: 32px;
            margin-bottom: 19px;
        }  
    }
}